/* header */
body {
    font-family: 'Open Sans', sans-serif;
}
.header_navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #313131;
    height: 60px;
}
.header_navbar ol {
    display: flex;
}
.header_navbar a {
    color: #FFFFFF;
    text-decoration: none;
}
.header_navbar ol a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 60px;
}
.header_navbar ol li {
    margin-right: 32px;
}
.header_navbar ol {
    margin-right: 150px;
}
.header_logo {
    display: flex;
}
.header_logo_img {
    margin: 17px;
}
.header_logo_text {
    margin: 23px;
}
.main_search img {
    margin: 21px;
}
.main_search {
    background-color: #000000;;
}
.header_background {
    background-image: url(../img/header_background.png);
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-size: 27px;
    line-height: 37px;
}
.header_background h1 {
    margin-top: 150px;
    font-weight: bold;
}
.header_button button {
    margin-top: 45px;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
}
.header_button_subscribe {
    background-color: #89CA62;
    border-color:#89CA62;
}
.header_button_best {
    background-color: #14B9D5;
    border-color: #14B9D5;
}
/* main */
.ma {
    margin: 0 auto;
}
.mc_fdc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    margin: 0 30px;
    
}
.mc_mt {
    margin-top: 20px;
}
.mc_fdc span{
    width: 370px;
    height: 60px;
    color: #353A3D;
    font-size: 18px;
    line-height: 60px;
    background-color: #FFFFFF;
}
.main_container_most {
    background-color: #F2F2F2;
    text-align: center;
    height: 1030px;
}
.main_container_most h2 {
    color: #18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 49px;
}
.main_container_boxes {
    display: flex;
    width: 1200px;
    margin: 52px auto;
}
/*
--display flex--
.main_clients {
    background-image: url(../img/clients_background.png);
    height: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.main_clients_logo {
    margin-top: 106px;
}
.main_clients_logo img{
    margin: 0 29px;
    text-align: center;
}
.main_clients div h2 {
    font-size: 32px;
    line-height: 44px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 108px;
}
.main_clients div hr {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: none;
    margin-top: 87px;
}
.main_rated_img {
    display: flex;   
}
*/
.main_clients {
    background-image: url(../img/clients_background.png);
    height: 588px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". main_clients_text main_clients_text main_clients_text main_clients_text ."
    ". . main_clients_hr main_clients_hr . ."
    ". main_clients_national main_clients_dryme main_clients_house main_clients_journey .";
}
.main_clients_hr { grid-area: main_clients_hr; }

.main_clients_text { grid-area: main_clients_text; }

.main_clients_national { grid-area: main_clients_national; }

.main_clients_dryme { grid-area: main_clients_dryme; }

.main_clients_house { grid-area: main_clients_house; }

.main_clients_journey { grid-area: main_clients_journey; }

.main_clients_text {
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 106px;
    font-weight: bold;
    padding-top: 108px;
}
.main_clients_hr hr{
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: none;
    margin-top: 87px;
}
.main_clients_mt {
    margin-top: 20px;
}
.main_rated {
    Overflow: hidden;
    margin-top: 52px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_rated_img1 main_rated_img2 main_rated_img3 main_rated_img4 main_rated_img5 main_rated_img6 main_rated_img7";
}
.main_rated_img1 { grid-area: main_rated_img1; }
.main_rated_img2 { grid-area: main_rated_img2; }
.main_rated_img3 { grid-area: main_rated_img3; } 
.main_rated_img4 { grid-area: main_rated_img4; }
.main_rated_img5 { grid-area: main_rated_img5; }
.main_rated_img6 { grid-area: main_rated_img6; } 
.main_rated_img7 { grid-area: main_rated_img7; }
.main_rated_text p {
    margin-top: 49px;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    font-weight: bold;
}
.main_rated div {
    width: calc(100vh/7);
}
.main_news_container_grid {
    width: 1200px;
    margin: 52px auto;
}
.main_news_container_grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows:  300px 400px 400px 300px;
    gap: 25px 25px;
    grid-template-areas:
    "main_news_prophecy main_news_prophecy main_news_prophecy main_news_nebula"
    "main_news_western main_news_western main_news_grand main_news_grand"
    "main_news_wanderlust main_news_wanderlust main_news_twin main_news_twin"
    "main_news_prism main_news_kings main_news_kings main_news_kings";
}

.main_news_prophecy {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_news_prophecy_left main_news_prophecy_right";
    grid-area: main_news_prophecy;
}

.main_news_prophecy_left { grid-area: main_news_prophecy_left; }

.main_news_prophecy_right { grid-area: main_news_prophecy_right; }

.main_news_nebula {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_news_nebula_top"
    "main_news_nebula_bottom";
    grid-area: main_news_nebula;
}

.main_news_nebula_top { grid-area: main_news_nebula_top; }

.main_news_nebula_bottom { grid-area: main_news_nebula_bottom; }

.main_news_western {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 0.9fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_news_western_top"
    "main_news_western_bottom";
    grid-area: main_news_western;
}

.main_news_western_top { grid-area: main_news_western_top; }

.main_news_western_bottom { grid-area: main_news_western_bottom; }

.main_news_grand {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 0.9fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_news_grand_top"
    "main_news_grand_bottom";
    grid-area: main_news_grand;
}

.main_news_grand_top { grid-area: main_news_grand_top; }

.main_news_grand_bottom { grid-area: main_news_grand_bottom; }

.main_news_wanderlust {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 0.9fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_news_wanderlust_top"
    "main_news_wanderlust_bottom";
    grid-area: main_news_wanderlust;
}

.main_news_wanderlust_top { grid-area: main_news_wanderlust_top; }

.main_news_wanderlust_bottom { grid-area: main_news_wanderlust_bottom; }

.main_news_twin {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 0.9fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_news_twin_top"
    "main_news__twin_bottom";
    grid-area: main_news_twin;
}

.main_news_twin_top { grid-area: main_news_twin_top; }

.main_news__twin_bottom { grid-area: main_news__twin_bottom; }

.main_news_prism {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_news_prism_top"
    "main_news_prism_bottom";
    grid-area: main_news_prism;
}

.main_news_prism_top { grid-area: main_news_prism_top; }

.main_news_prism_bottom { grid-area: main_news_prism_bottom; }

.main_news_kings {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "main_news_kings_left main_news__kings_right";
    grid-area: main_news_kings;
}

.main_news__kings_right { grid-area: main_news__kings_right; }

.main_news_kings_left { grid-area: main_news_kings_left; }
.main_news_bck {
    background-color: #F9F7F7;
}
.bcksc {
    background-size: cover;
}
.main_news_prophecy_left {
    background-image: url(../img/prophecy.png);
}
.main_news_nebula_top {
    background-image: url(../img/nebula.png);
}
.main_news_western_top {
    background-image: url(../img/western.png);
}
.main_news_grand_top {
    background-image: url(../img/grand.png);
}
.main_news_wanderlust_top {
    background-image: url(../img/wanderlust.png);
}
.main_news_twin_top {
    background-image: url(../img/twin.png);
}
.main_news_prism_top {
    background-image: url(../img/prism.png);
}
.main_news_kings_left {
    background-image: url(../img/kings.png);
}
.main_news_text h3 {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 0 24px;
    padding-top: 41px;
}
.main_news_text p {
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding: 24px;
    padding-top: 16px
} 
.main_news_text_solo {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #353A3D;
}
.main_news_container h2{
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 48px;
}
/* footer */
.footer_rights_container {
    margin-top: 77px;
    background-color: #000000;
}
.footer_rights {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 13px;
    line-height: 80px;
    color: #FFFFFF;
}
.footer_rights_logo {
    display: flex;
    margin-top: 29px;
    margin-bottom: 35px;
}
.footer_rights_logo img {
    margin-left: 3px;
}