body {
  background-image: url(../img/background.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.text_properties {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.container {
  width: 1026px;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.logo_img {
  background-image: url(../img/logo.svg);
  width: 53px;
  height: 47px;
}
.logo_box {
  display: flex;
  text-decoration: none;
  height: 47px;
}
.logo_box svg {
  fill: #ffffff;
}
.logo_box_:hover .logo_box span {
  color: #f26522;
}
.logo_box:hover .logo_img {
  background-image: url(../img/logo_hover.svg);
}
.logo_text {
  margin-left: 8px;
  margin-top: 2px;
}
.logo_text_top {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
}
.logo_text_bottom {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.contacts a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}
.contacts_tel {
  margin-top: 19px;
}
.contacts_tel:hover {
  color: #f26522;
}
.contacts_mail:hover {
  color: #f26522;
}
.content {
  margin-top: 22px;
  font-size: 18px;
  line-height: 40px;
}
/* grid */
.content_grid_container {
  font-size: 18px;
  line-height: 40px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 260px 260px;
  gap: 18px 64px;
  grid-template-areas:
    "shopping sightseeing food"
    "bars art walking";
}

.shopping {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 40px;
  gap: 0px 0px;
  grid-template-areas:
    "shopping_top"
    "shopping_bottom";
  grid-area: shopping;
}

.sightseeing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 40px;
  gap: 0px 0px;
  grid-template-areas:
    "sighseeing_top"
    "sighseeing_bottom";
  grid-area: sightseeing;
}

.sighseeing_top {
  grid-area: sighseeing_top;
}

.sighseeing_bottom {
  grid-area: sighseeing_bottom;
}

.food {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 40px;
  gap: 0px 0px;
  grid-template-areas:
    "food_top"
    "food_bottom";
  grid-area: food;
}

.food_top {
  grid-area: food_top;
}

.food_bottom {
  grid-area: food_bottom;
}

.bars {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 40px;
  gap: 0px 0px;
  grid-template-areas:
    "bars_top"
    "bars_bottop";
  grid-area: bars;
}

.bars_top {
  grid-area: bars_top;
}

.bars_bottop {
  grid-area: bars_bottop;
}

.art {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 40px;
  gap: 0px 0px;
  grid-template-areas:
    "art_top"
    "art_bottom";
  grid-area: art;
}

.art_top {
  grid-area: art_top;
}

.art_bottom {
  grid-area: art_bottom;
}

.walking {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 40px;
  gap: 0px 0px;
  grid-template-areas:
    "walking_top"
    "walking_bottom";
  grid-area: walking;
}

.walking_top {
  grid-area: walking_top;
}

.walking_bottom {
  grid-area: walking_bottom;
}
/* -grid */

.shopping_top {
  background-image: url(../img/shopping.png);
  display: flex;
  flex-direction: column-reverse;
}
.sighseeing_top {
  background-image: url(../img/sightseeing.png);
  display: flex;
  flex-direction: column-reverse;
}
.food_top {
  background-image: url(../img/food.png);
  display: flex;
  flex-direction: column-reverse;
}
.bars_top {
  background-image: url(../img/bars.png);
  display: flex;
  flex-direction: column-reverse;
}
.art_top {
  background-image: url(../img/art.png);
  display: flex;
  flex-direction: column-reverse;
}
.walking_top {
  background-image: url(../img/walking.png);
  display: flex;
  flex-direction: column-reverse;
}
.copyright {
  margin-top: 35px;
  font-size: 12px;
  line-height: 12px;
}
.top_hover {
  opacity: 0;
  display: flex;
  justify-content: space-between;
}
.shopping:hover .top_hover {
  opacity: 100;
  display: flex;
  width: 300px;
  height: 55px;
  background-color: #f26522;
}
.sightseeing:hover .top_hover {
  opacity: 100;
  display: flex;
  width: 300px;
  height: 55px;
  background-color: #f26522;
}
.food:hover .top_hover {
  opacity: 100;
  display: flex;
  width: 300px;
  height: 55px;
  background-color: #f26522;
}
.bars:hover .top_hover {
  opacity: 100;
  display: flex;
  width: 300px;
  height: 55px;
  background-color: #f26522;
}
.art:hover .top_hover {
  opacity: 100;
  display: flex;
  width: 300px;
  height: 55px;
  background-color: #f26522;
}
.walking:hover .top_hover {
  opacity: 100;
  display: flex;
  width: 300px;
  height: 55px;
  background-color: #f26522;
}
.shopping:hover .shopping_bottom {
  color: #f26522;
}
.sightseeing:hover .sighseeing_bottom {
  color: #f26522;
}
.food:hover .food_bottom {
  color: #f26522;
}
.art:hover .art_bottom {
  color: #f26522;
}
.walking:hover .walking_bottom {
  color: #f26522;
}
.bars:hover .bars_bottom {
  color: #f26522;
}
.price_hover {
  display: flex;
  flex-direction: column;
}
.price_from_hover {
  font-size: 10px;
  line-height: 10px;
  margin-top: 7px;
  margin-left: 16px;
}
.price_cost_hover {
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
  margin-left: 16px;
}
.details_hover span {
  font-size: 14px;
  line-height: 14px;
}
.details_hover svg {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 29px;
}
