body {
    background-image: url(../img/background_image.png);
}

.header_nav_bar_list li {
    display: inline;
    margin-left: 100px;
}

.header_nav_bar_list a {
    color: #FF0000;
    padding: 10px 17px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    font-family: Mosterrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.main_image {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0px;
    margin: 0 auto;
}

.main_container {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
  }

.header_nav_bar {
    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
  }

.footer_copyright {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.2px;
    
    color: #373737;
    margin-top: 170px;
    margin-bottom: 30px;
    text-align: right;

    width: 100%;
    max-width: 1024px; /*максимальная ширина может иметь другое значение*/
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .main_topic_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    
    color: #373737;
    text-align: center;

    margin-top: 50px;
  }

  .main_text_1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 162% */
    
    text-align: center;
    letter-spacing: 2.0px;
    color: #373737;

    margin-top: 50px;
  }

  .main_text_2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
    letter-spacing: 2.0px;
    color: #373737;
    margin-top: 50px;
  }

  .main_button_start_text {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    padding: 18px 43px; /* отступ от текста */
    background: #FF0000;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-left: 41%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  
  .main_button_start {
      margin-top: 100px;
  }
  