body {
    background-image: url(../img/background.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
/* header */
.header_content {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
}
.header_logo {
    margin-left: 79px;
}
.header_logo a {
    font-weight: bold;
    font-size: 22px;
    line-height: 58px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.header_account_box  {
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-left: 27px;
}
.header_login {
    font-size: 14px;
    line-height: 58px;
    color: #ffffff;
    margin-right: 79px;
    display: flex;
}
.header_login a {
    text-decoration: none;
    color: #ffffff;
}
.header_login a svg {
    fill: #ffffff;
}
.header_login a svg:hover {
    fill: #3CB878;
    transition: all 0.5s;
}
.project_hover_green:hover {
    color: #3CB878;
    transition: all 0.5s;
}
.header_links a {
    margin-right: 25px;
    margin-top: 6px;
}
.header_links {
    margin-top: 6px;
}
/* main */
.main {
    display: flex;
    height: calc(100vh - 58px);
    width: 100vw;
}
.main_container {
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: auto;
}
.main_create_account_box {
    width: 324px;
    margin: 0 auto;
    margin-top: 15px;
}
.main_signup {
    display: flex;
    margin-top: 31px;
}
.main_signup h2{
    margin-left: 43px;
    font-size: 20px;
    line-height: 20px;
}
.main_signup a{
    margin-left: 210px;
    color: #3CB878;
    text-decoration: none;
}
.main_signup a:hover{
    color: #01813F;
    text-decoration: underline;
    transition: all 0.5s;
}
.project_button_medium {
    box-sizing: border-box;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0;
    display: flex;
    align-items: center;
}
.project_button_medium span {
    padding-left: 18px;
    border-left: 1px solid rgba(43, 13, 9, 0.1);
    height: 30px;
    line-height: 30px;
}
.main_create_account_button_box {
    display: flex;
}
.main_button_medium_facebook {
    background-color: #305DB8;
}
.main_button_medium_facebook svg {
    margin-left: 17px;
    margin-right: 18px;
}
.main_button_medium_facebook:hover {
    background-color: #022263;
    transition: all 0.5s;
}
.main_button_medium_google {
    background-color: #DF4A32;
    margin-left: 4px;
}
.main_button_medium_google svg {
    margin-left: 12px;
    margin-right: 7px;
}
.main_button_medium_google:hover {
    background-color: #AB1F09;
    transition: all 0.5s;
}
.main_separator {
    display: flex;
    margin-top: 30px;
}
.main_separator hr {
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    border: none;
}
.main_separator p {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin: 0 5px;
}
.main_input {
    box-sizing: border-box;
    width: 324px;
    height: 44px;
    margin-top: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 0px 20px;
}
.main_input:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21)
}
.main_input::-webkit-input-placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;  
}
.main_input:-ms-input-placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;  
}
.main_input::-ms-input-placeholder  {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;  
}
.main_input::-ms-input-placeholder  {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;  
}
.main_input_button {
    margin-top: 20px;
    width: 324px;
    height: 46px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    font-size: 16px;
    line-height: 16px;
}
.main_input_button:hover {
    background-color: #01813F;
    transition: all 0.5s;
}
.custom-checkbox{
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}
.checkbox {
    display: none;
}
.checkbox:checked + .custom-checkbox {
    background-image: url(../img/checked.svg);
    background-size: contain;
}
.custom_checkbox_box {
    margin-top: 12px;
    color: #434343;
}
.dspflx {
    display: flex;
}
.custom_checkbox_text {
    color: #3CB878;
    margin-left: 5px;
}
.custom_checkbox_text:hover {
    color: #01813F;
    text-decoration: underline;
    transition: all 0.5s;
}
