body {
    width: 1280px;
    margin: 0 auto;
}
.menu_top {
    display: flex;
    justify-content: center;
}
.menu_top li {
    margin-right: 70px;
    border-left: 1.5px solid white;
    padding: 10px;
}
.menu_top_container {
    background-color: #35444F;
    margin-top: 30px;
}
.menu_top a {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.logo {
    margin-top: 25px;
}
.logo a {
    text-decoration: none;
}
.logo_black {
    color: black;
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
}
.logo_blue {
    color: #4287f5;
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
}
.main_container {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}
.main_img {
    padding: 50px 345px;
    border: 1px solid #000000;
}
.menu_left a{
    text-decoration: none;
    color: #485863;
    font-size: 20px;
    line-height: 24px;
    
}
.menu_left ol {
    border: 1.5px solid #000000;
    padding: 12px 60px 0px 15px;
    font-family: 'Open Sans', sans-serif;
}
.menu_left li {
    margin-bottom: 25px;
} 
.main_text {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    margin-top: 40px;
}
.main_text_container {
    width: 1012px;
}
.text_lorem_ru {
    margin-top: 37px;
}
.text {
    color: #2C2C2C;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}


.menu_bottom {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.menu_bottom li {
    padding: 5px 15px 5px 15px;
}
.menu_bottom_container {
    background: rgba(99, 105, 110, 0.48);;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.menu_bottom a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #010101;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px 10px 0px;
}
.menu_bottom_container span {
    color: #010101;
    margin-right: 40px;
    font-family: 'Open Sans', sans-serif;
}
.menu_bottom a:hover {
    color: #4287f5;
    padding: 10px 0px 5px 0px;
    border-bottom: 2px solid #4287f5;
    display: block;
} 
