body {
    margin: 0px;
}

.header_background_shadow {
    position: absolute;
    padding-top: 462px;
    padding-left: 207px;
}

.header_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;

    position: absolute;
    padding-top: 330px;
    padding-left: 207px;
}
.header_text_1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    position: absolute;
    padding-top: 405px;
    padding-left: 207px;
}

.text_in_shadow_1 {
    font-family: Monsterrat;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #F48E0B;

    position: absolute;
    padding-top: 442px;
    padding-left: 240px;

}

.text_in_shadow_2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;

    position: absolute;
    padding-top: 442px;
    padding-left: 400px;
}

.header_background_orange_line {
    position: absolute;
    padding-top: 463px;
    padding-left: 365px;    
}

.header_background {
    height: 690px;
}